<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.UserMapper">
    <select id="getCount" resultType="int">
        select count(*) from user_info where user_email=#{email}
    </select>


    <select id="getLoginCheck" resultType="int">
        select count(*) from user_info where user_email=#{email} and user_pwd=#{pwd}
    </select>
    <select id="getUser" resultType="userInfo">
        select user_id userId,user_email userEmail,user_pwd userPwd from user_info where user_email=#{email} and user_pwd=#{pwd}
    </select>

    <update id="updatePwd">
        update user_info set user_pwd=#{pwd} where user_email=#{email}
    </update>

    <select id="getUserShoppingCartCount" resultType="int">
        select count(*) from usershoppingcart where user_email=#{email}
    </select>


    <select id="getIpShoppingCartCount" resultType="int">
        select count(*) from ipshoppingcart where ip=#{ip}
    </select>

    <select id="getIpShoppingCartByIp" resultType="ipShoppingCart">
        select ip_id ipId,ip,goods_id goodsId,goods_num goodsNum from ipshoppingcart where ip=#{ip}
    </select>

    <select id="getUserShoppingCartByUserId" resultType="userShoppingCart">
        select user_shopping_id userShoppingId,user_email userId,
               goods_id goodsId,goods_num goodsNum
               from usershoppingcart where user_email=#{userId}
    </select>

    <update id="updateUserShoppingCartGoodsNumByUserEmail">
        update usershoppingcart set goods_num=goods_num+#{num} where user_email=#{userEmail}
    </update>

    <insert id="addUserShoppingCart">
        insert into usershoppingcart values(uuid(),#{email},#{goodsId},#{goodsNum})
    </insert>

    <update id="delIpShoppingCartByIp">
        delete from ipshoppingcart where ip=#{ip}
    </update>

    <select id="getAllUserShoppingCartContent" resultType="userCart">
        SELECT goods.*,usershoppingcart.`goods_num` FROM
    goods,usershoppingcart WHERE
goods.goods_id=#{goodsId} and goods.`goods_id`=usershoppingcart.`goods_id` AND user_email=#{userEmail}
    </select>

    <update id="updateLessUserGoodsCart">
        update usershoppingcart set goods_num=goods_num-1
        where goods_id=#{goodId} and user_email=#{email}
    </update>

    <update id="updateAddUserGoodsCart">
        update usershoppingcart set goods_num=goods_num+1
        where goods_id=#{goodId} and user_email=#{email}
    </update>

    <insert id="addAddress">
        insert into address values(uuid(),#{name},#{address},#{email},#{tel},#{code},#{provinceId},#{cityId},#{areaId})
    </insert>

    <select id="getAddress" resultType="address">
        select * from address where user_email=#{email}
    </select>

    <update id="updateAddress">
        update address set addr_username=#{name},
        addr_user_address=#{address},addr_tel=#{tel},addr_code=#{code},
        addr_provinceId=#{provinceId},addr_cityId=#{cityId},addr_areaId=#{areaId}
        where addr_id=#{email}
    </update>
</mapper>